[Unit]
Description=tc Server instance (%i)
After=network.target

[Service]
Type=forking

ExecStart={{ tcserver_install_base }}/tcruntime-ctl.sh -i {{ tcserver_instance_base }} %i start
ExecStop={{ tcserver_install_base }}/tcruntime-ctl.sh -i {{ tcserver_instance_base }} %i stop

User={{ tcserver_user }}
Group={{ tcserver_group }}

KillMode=none

SuccessExitStatus=1 143

[Install]
WantedBy=multi-user.target
